@font-face {
  font-family: 'Lato-Semibold';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    url('Lato-Semibold.woff') format('woff'),
    url('Lato-Semibold.woff2') format('woff2');
}
