html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  min-width: 320px;
  font-family: $f-base, $f-sub;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

a,
button {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  text-transform: inherit;
  cursor: pointer;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  padding: 0 30px;

  @media (max-width: 720px) {
    padding: 0 15px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;

  &--bg {
    background-color: #f4f6f5;
  }
}

.footer {
  flex: 0 0 auto;
}

/* burger */
.burger {
  display: none;
  width: 30px;
  height: 26px;
  padding: 0;
  margin: auto 0 auto auto;
  background-color: transparent;
  border: none;

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;

    &::after,
    &::before {
      display: block;
      content: "";
    }

    &::before {
      top: 2px;
    }

    &::after {
      bottom: 2px;
    }
  }

  &__inner::after,
  &__inner::before,
  &__line2 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    transition: transform 0.4s;
  }

  &__line2 {
    top: 12px;
  }

  &__opened {
    .burger__line2 {
      transform: rotate(45deg);
    }

    .burger__inner::before {
      transform: rotate(45deg) translate(6px, 7px);
    }

    .burger__inner::after {
      transform: rotate(-45deg) translate(6px, -7px);
    }
  }

  &:active {
    background-color: transparent;
  }
} /* burger */

/* ibg */
.ibg {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
} /* ibg */

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  color: $c-black;
}

.menu-arrow {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    font-family: "icomoon";
    font-size: 18px;
    color: $c-green;
    content: "\f105";
    transform: translateY(-50%);
  }
}

/* pagination */
.pagination {
  &__list {
    li {
      display: inline-block;
    }

    li + li {
      margin-left: 8px;
    }
  }

  a,
  span {
    display: inline-block;
    width: 43px;
    height: 39px;
    padding: 11px 3px 0;
    font-size: 16px;
    font-weight: 500;
    color: #37474f;
    border-bottom: 1px solid #d9e0e3;
  }
}

.pagination .active {
  color: #fff;
  background-color: $bg-red;
} /* pagination */
