.header-top {
  &__body {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 91px;
    line-height: 24px;
  }

  &__logo {
    display: inline-block;
    margin-right: auto;
  }

  &__text {
    margin-right: 38px;
    color: $c-blue;
  }

  &__text-red {
    color: $c-red;
  }

  &__tel {
    transition: color 0.3s;

    &:hover {
      color: $c-red;
    }
  }

  &__btn {
    min-width: 72px;
    padding: 4px 14px;
    font-size: 12px;
    line-height: 24px;
    border: 0;
    border-radius: 3px;
  }

  &__log {
    background-color: $bg-green;
  }

  &__reg {
    margin-left: 7px;
    background-color: $bg-red;
  }
} /* header-top */

.header-menu {
  color: #fff;
  background-color: $bg-blue;

  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 60px;
  }
}

.menu {
  &__link {
    margin-right: 38px;
    font-size: 14px;
    line-height: 30px;
  }
} /* header-menu menu */
