.item {
  &--aside {
    &:last-child {
      .item__body--aside {
        border: 0;
      }
    }
  }

  &__body {
    margin: 32px;
    color: $c-blue;

    &--aside {
      padding-bottom: 9px;
      margin: 0 0 30px;
      border-bottom: 1px solid #dde3e8;
    }

    &--pp {
      margin: 30px 0;
    }
  }

  &__img {
    display: block;
    width: 442px;
    height: 250px;

    &--aside {
      width: 208px;
      height: 120px;
    }

    &--pp {
      max-width: 270px;
      height: 180px;
    }
  }

  &__cost-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 442px;
    height: 90px;
    padding: 25px 30px 30px;
    background-color: #fff;
    border-bottom: 1px solid #e7ecf2;

    &--aside {
      height: 60px;
      padding: 17px 0 0;
      border-bottom: 0;
    }

    &--pp {
      max-width: 270px;
      padding: 17px 19px 15px;
    }
  }

  &__description {
    text-align: left;
  }

  &__title {
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: $c-black;

    &--aside {
      margin-bottom: 0;
      font-size: 16px;
    }

    &--pp {
      font-size: 16px;
    }
  }

  &__category {
    font-weight: 500;
    color: $c-green;

    &--aside {
      font-size: 14px;
    }
  }

  &__cost {
    font-weight: 700;
    color: $c-black;

    &--aside {
      font-size: 16px;
    }

    &--pp {
      font-size: 20px;
    }
  }

  &__seller {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 442px;
    min-height: 60px;
    padding: 0 65px 0 30px;
    background-color: #fff;

    &--aside {
      padding: 0;
    }

    &--pp {
      width: 270px;
      padding: 0 45px 0 19px;
    }
  }

  &__avatar {
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &__seller-name {
    display: inline-block;
    max-width: 250px;
    padding-right: 7px;
    margin-right: auto;
    margin-left: 12px;
    font-weight: 500;

    &--aside {
      margin-left: 7px;
      font-size: 14px;
    }
  }

  .rate-star {
    display: inline-block;

    &--aside {
      padding: 0;
    }
  }

  .rate-number {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);

    &--aside {
      display: none;
    }

    &--pp {
      right: 19px;
      font-size: 12px;
    }
  }

  &__rating {
    color: #b0bec5;

    span {
      color: $c-black;
    }
  }
} /* item */
