.item {
  max-width: 442px;
  margin: 32px 0 32px 30px;
  color: $c-blue;

  &:hover {
    background-color: #fff;
    box-shadow: 0 16px 20px 0 rgba(216, 216, 216, 0.75);
  }

  &__img {
    display: block;
    width: 100vw;
    max-width: 100%;
    height: 250px;
  }

  &__cost-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    padding: 25px 30px 30px;
    background-color: #fff;
    border-bottom: 1px solid #e7ecf2;
  }

  &__description {
    text-align: left;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: $c-black;
  }

  &__category {
    margin-bottom: 15px;
    font-weight: 500;
    color: $c-green;
  }

  &__text {
    display: none;
    font-size: 14px;
    line-height: 18px;
    color: #70838d;
  }

  &__cost {
    font-size: 20px;
    font-weight: 700;
    color: $c-black;
  }

  &__sales {
    display: none;
    font-size: 13px;
    color: #aeb4bb;
  }

  &__seller {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
    padding: 0 0 0 30px;
    background-color: #fff;
  }

  &__avatar {
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &__seller-name {
    display: inline-block;
    max-width: 250px;
    padding-right: 7px;
    margin-right: auto;
    margin-left: 12px;
    font-weight: 500;
  }

  .rate-star {
    display: inline-block;
  }

  .rate-number {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);

    span {
      font-weight: 500;
      color: $c-black;
    }
  }

  &__message-wrapper,
  &__likes {
    position: relative;
    display: none;
    padding-right: 30px;
  }

  &__rating {
    position: relative;
    padding-right: 65px;
    margin-top: 2px;
    color: #b0bec5;
  }

  .icon-comment-o,
  .icon-heart-o {
    width: 100%;
    min-width: 80px;
    text-align: center;
    border-left: 1px solid #aeb4bb;
  }

  .icon-comment-o {
    margin-bottom: 1px;
  }

  &--aside {
    padding-bottom: 9px;
    margin: 0 0 30px;
    border-bottom: 1px solid #dde3e8;

    &:hover {
      box-shadow: none;
    }

    &:last-child {
      border: none;
    }

    .item {
      &__img {
        width: 100%;
        height: 120px;
      }

      &__cost-wrapper {
        height: 60px;
        padding: 17px 0 0;
        border-bottom: 0;
      }

      &__title {
        margin-bottom: 0;
        font-size: 16px;
      }

      &__category {
        font-size: 14px;
      }

      &__cost {
        font-size: 16px;
      }

      &__seller {
        padding: 0;
      }

      &__seller-name {
        margin-left: 7px;
        font-size: 14px;
      }

      &__rating {
        padding-right: 0;
      }
    }

    .rate-star {
      padding: 0;
    }

    .rate-number {
      display: none;
    }

  } /* &--aside */

  &--pp {
    width: 270px;
    margin: 0 0 30px;

    .item {
      &__img {
        max-width: 270px;
        height: 180px;
      }

      &__cost-wrapper {
        max-width: 270px;
        padding: 17px 19px 15px;
      }

      &__title {
        font-size: 16px;
      }

      &__cost {
        font-size: 20px;
      }

      &__seller {
        width: 270px;
        padding: 0 0 0 19px;
      }

      &__rating {
        padding-right: 45px;
      }
    }

    .rate-number {
      right: 19px;
      font-size: 12px;
    }
  }

  &--col {
    display: flex;
    width: 100%;
    max-width: none;
    height: 180px;
    border-bottom: 0;
    box-shadow: 0 1px 2px 0 rgba(205, 214, 222, 0.75);

    .item {
      &__img {
        width: 240px;
        height: 180px;
      }

      &__info-body {
        width: 100%;
      }

      &__cost-wrapper {
        max-width: 100%;
        height: 116px;
      }

      &__text {
        display: block;
      }

      &__cost {
        font-size: 30px;
      }

      &__price {
        margin: 8px 0 15px;
      }

      &__sales {
        display: block;
      }

      &__title {
        font-size: 16px;
      }

      &__seller {
        width: 100%;
        max-width: 100%;
        height: 62px;
        padding-right: 0;
      }

      &__rating {
        padding-right: 50px;
      }

      &__message-wrapper,
      &__likes {
        display: block;
      }
    }
  }
} /* item */
