@media (max-width: 1000px) {
  .footer {
    &__body {
      flex-wrap: wrap;
    }

    &__item {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 950px) {
  .header-top {
    &__body {
      position: relative;
      margin-top: 25px;
    }

    &__text {
      position: absolute;
      bottom: 100%;
      left: 50%;
      width: 100vw;
      height: 25px;
      text-align: center;
      background-color: #ccc;
      transform: translateX(-50%);
      line-height: 25px;
    }
  }
}

@media (max-width: 850px) {
  .menu {
    display: none;
  }

  .burger {
    display: block;
    position: absolute;
    left: 0;
    top: 28px;
    transform: translateY(-50%);
    z-index: 10;
  }

  .header-menu {
    &__wrapper {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: $bg-blue;
      border: 1px solid #ccc;
      z-index: 10;
    }

  }
  .menu__link {
    border-top: 1px solid #ccc;
    margin-right: 0;

    &:first-child {
      border-top: 0;
    }

    a {
      display: block;
      padding: 3px;
    }
  }
}

@media (max-width: 700px) {
  .footer {
    &__body {
      justify-content: flex-start;
      padding: 60px 30px;
    }

    &__item {
      width: 100%;

      &--menu {
        max-width: 225px;
        margin: 10px;
      }
    }
  }

  .header-top {
    &__btn-pos {
      position: absolute;
      bottom: -46px;
      right: 0px;
      z-index: 10;
    }
    &__profile {
      margin-right: 15px;
    }
  }
}

@media (max-width: 580px) {
  .profile {
    position: absolute;
    left: 50%;
    bottom: -76px;
    transform: translateX(-50%);
    z-index: 10;
    &__name {
      color: #fff;
    }

    &__list {
      top: 75px;
    }
  }
}

@media (max-width: 450px) {
  .footer {
    &__body {
      padding: 30px 0;
    }
  }

  .log-menu__item {
    width: 45px;

    &:last-child {
      width: 30px;
    }
  }

  .profile {
    left: 60px;
    transform: translateX(0);
  }

  .log-menu {
    &__notification {
      right: -64px;
    }
  }
}

@media (max-width: 360px) {
  .log-menu {
    &__notification {
      right: -64px;
    }
    &__message {
      right: -19px;
    }
    &__bascet {
      right: 10px;
    }
  }
}
