@media (max-width: 1418px) {
  .products {
    &__body {
      justify-content: space-evenly;
    }

    .item {
      min-width: 442px;
    }
  }
}

@media (max-width: 1000px) {
  .pp__body {
    display: block;
  }

  .aside {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 600px;
  }
  .footer {
    &__body {
      flex-wrap: wrap;
    }

    &__item {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  .tabs1--profile {
    display: block;
    .tabs1 {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 950px) {
  .header-top {
    &__body {
      position: relative;
      margin-top: 25px;
    }

    &__text {
      position: absolute;
      bottom: 100%;
      left: 50%;
      width: 100vw;
      height: 25px;
      text-align: center;
      background-color: #ccc;
      transform: translateX(-50%);
      line-height: 25px;
    }
  }

  .products {
    .item {
      width: 100%;
      max-width: 600px;
      margin-bottom: 0;

      &__img,
      &__cost-wrapper,
      &__seller {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .advantages {
    padding: 40px 0 0;

    &__wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      margin-bottom: 40px;
      max-width: 630px;
    }
  }
}

@media (max-width: 850px) {
  .menu {
    display: none;
  }

  .burger {
    display: block;
    position: absolute;
    left: 0;
    top: 28px;
    transform: translateY(-50%);
    z-index: 10;
  }

  .header-menu {
    &__wrapper {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: $bg-blue;
      border: 1px solid #ccc;
      z-index: 10;
    }
  }

  .menu__link {
    border-top: 1px solid #ccc;
    margin-right: 0;

    &:first-child {
      border-top: 0;
    }

    a {
      display: block;
      padding: 3px;
    }
  }
}

@media (max-width: 800px) {
  .products {
    &__menu {
      display: block;
      margin-bottom: 0;
    }

    &__menu-filter {
      width: 100%;
      max-width: 400px;
    }

    button + button {
      margin-left: 0;
    }
  }

  .profile-bar {
    flex-wrap: wrap;
    &__item {
      width: 50%;
    }
  }
}

@media (max-width: 700px) {
  .search__title {
    font-size: 31px;
    line-height: 36px;
  }
  .products {
    padding: 50px 15px 50px;
  }

  .author {
    &__block {
      flex-direction: column;
      padding: 15px;
    }

    &__text {
      margin-right: 0;
      margin-bottom: 20px;
      max-width: none;
      text-align: center;
    }
  }
  .tutorials__item {
    margin: 0 0 30px;
  }

  .title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  .trend {
    margin-bottom: 45px;
    &__title {
      margin-bottom: 5px;
    }
  }

  .footer {
    &__body {
      justify-content: flex-start;
      padding: 60px 30px;
    }

    &__item {
      width: 100%;

      &--menu {
        max-width: 225px;
        margin: 10px;
      }
    }
  }

  .header-top {
    &__btn-pos {
      position: absolute;
      bottom: -46px;
      right: 0px;
      z-index: 10;
    }
    &__profile {
      margin-right: 15px;
    }
  }
}

@media (max-width: 580px) {
  .profile {
    position: absolute;
    left: 50%;
    bottom: -76px;
    transform: translateX(-50%);
    z-index: 10;
    &__name {
      color: #fff;
    }

    &__list {
      top: 75px;
    }
  }

  .products {
    .item {
      width: 100%;
      min-width: 290px;
    }
  }

  .profile-bar {
    &__item {
      width: 100%;
    }
  }

  .banner__wrapper {
    padding: 0;
  }

  .tabs1 {
    &__content {
      width: calc(100% + 30px);
      margin-left: -15px;
      margin-right: -15px;
    }

    &__item {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

@media (max-width: 450px) {
  .about {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;

    &__content {
      padding-left: 15px;
      padding-right: 15px;
    }

    &__item-text {
      text-align: justify;
    }
  }

  .footer {
    &__body {
      padding: 30px 0;
    }
  }

  .log-menu__item {
    width: 45px;

    &:last-child {
      width: 30px;
    }
  }

  .profile {
    left: 60px;
    transform: translateX(0);
  }

  .log-menu {
    &__notification {
      right: -64px;
    }
  }
  .popap-login__submit-wrapper {
    display: block;
  }

  .popap-login__creat,
  .popap-login__submit {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 290px;
    margin-bottom: 15px;
    text-align: center;
  }
}

@media (max-width: 360px) {
  .log-menu {
    &__notification {
      right: -64px;
    }
    &__message {
      right: -19px;
    }
    &__bascet {
      right: 10px;
    }
  }
}
