.products {
  padding: 110px 30px 130px;

  &__title {
    margin-bottom: 35px;
  }

  &__menu {
    display: flex;
    justify-content: center;
  }

  &__menu-filter {
    display: inline-block;
    padding: 10px 25px;
    margin-bottom: 59px;
    font-size: 14px;
    font-weight: 500;
    color: $c-black;
    background: transparent;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(202, 215, 228, 0.75);

    &--bottom {
      font-size: 16px;
      font-weight: 400;
    }

    &.mixitup-control-active {
      background-color: $bg-red;
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 77px;
  }
} /* products */
