.tabs1 {
  display: flex;
  text-align: left;
  border-top: 1px solid #dfdfdf;

  button {
    /* вылезла еще одна кнопка без контента хз откуда 
    это код кастрации */
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
  }

  &__wrapper {
    width: 100%;
    margin-bottom: 52px;
  }

  & &__title {
    display: block;
    width: 100%;
    max-width: 25%;
    height: 60px;
    font-size: 16px;
    color: rgb(120, 144, 156);
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-top: 0;

    & + .tabs1__title {
      border-left: 0;
    }
  }

  .active1 {
    position: relative;
    font-weight: 500;
    color: $c-black;
  }

  .active1::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    content: "";
    background-color: #8bc34a;
  }

  &__content {
    width: 100%;
    padding: 35px 0 0;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-top: 0;
  }

  &__item {
    display: none;
    min-height: 165px;
    padding: 0 30px 30px;
    font-size: 16px;
    color: rgb(112, 112, 112);
    text-align: left;

    &.active-tab1 {
      display: block;
    }

    &--col {
      column-fill: auto;
      column-count: 2;
      column-gap: 25px;
      max-width: 600px;
    }
  }

  &__item-title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #1e262b;
  }

  &__item-text {
    margin-bottom: 45px;
    font-size: 15px;
    line-height: 24px;
    color: #5d5d5d;
  }

  &__item-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: 24px;
    color: #1e262b;

    span {
      font-style: normal;
      font-weight: 700;
    }
  }

  &__skills {
    width: 100%;
    height: 15px;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    border-radius: 3px;
  }

  &__skills-power {
    height: 15px;
    background-image: url(../images/profile-details/skills-bg.png);
    background-repeat: repeat-x;
    background-position: 0 0;
    border-radius: 3px;
  }

  &__list-item {
    padding-left: 15px;
    margin-bottom: 15px;

    &::before {
      padding-bottom: 1px;
    }
  }

  &__form-title {
    padding: 20px 30px;
    font-size: 24px;
    font-weight: 500;
    color: $c-black;
    border-bottom: 1px solid #d7d7d7;
  }

  &__item-inner {
    padding: 30px;

    label {
      flex-shrink: 0;
      width: 260px;
      padding-top: 12px;
      font-size: 16px;
      font-weight: 500;
      color: $c-black;

      span {
        margin-left: 4px;
        font-size: 24px;
        color: $c-green;
      }
    }

    input,
    select,
    textarea {
      display: block;
      width: 100%;
      height: 42px;
      padding-left: 17px;
      font-size: 15px;
      color: #000;
      background-color: #f9f9f9;
      border: 1px solid #dedede;

      &::placeholder {
        color: #707070;
      }
    }

    select {
      appearance: none;
    }
  }

  &__form-line {
    position: relative;
    display: flex;
    margin: 0 0 30px;

    &.select::after {
      position: absolute;
      right: 15px;
      bottom: 12px;
      font-family: 'icomoon';
      font-size: 15px;
      color: rgb(38, 50, 56);
      content: '\f0d7';
    }
  }

  &__submit {
    min-width: 202px;
    height: 52px;
    padding-right: 25px;
    padding-left: 25px;
    font-weight: bold;
    color: #fff;
    background-color: $bg-green;
    border: 0;
  }

  &--profile {
    display: flex;
    justify-content: space-between;
    border: 0;

    .tabs1 {
      display: block;
      flex-shrink: 0;
      width: 270px;
      margin-right: 30px;
      margin-bottom: 0;

      &__title {
        max-width: 100%;
        padding-left: 22px;
        font-family: $f-base, $f-sub !important;
        text-align: left;

        &::before {
          margin-right: 15px;
          font-family: "icomoon" !important;
        }

        &.active1::before {
          color: $c-green;
        }

        & + .tabs1__title {
          border-left: 1px solid #d7d7d7;
        }
      }

      &__content {
        max-width: 840px;
        border: 1px solid #d7d7d7;
      }
    }
  }

  &--form {
    .menu-arrow::before {
      left: 22px;
      color: #707070;
    }

    .tabs1 {
      &__title {
        padding-left: 50px;

        &.active1::before {
          color: $c-green;
        }
      }

      &__content {
        padding-top: 0;
      }

      &__item {
        padding: 0;
      }
    }
  }
}
