$f-base: "Roboto";
$f-bold: "Raleway";
$f-600: "Lato-Semibold";
$f-sub: sans-serif;

$c-blue: #546e7a;
$c-black: #263238;
$c-red: #e74c3c;
$c-green: #8bc34a;

$bg-green: #8bc34a;
$bg-red: #e74c3c;
$bg-blue: #263238;
