@import "libs";
@import "vars";
@import "fonts";
@import "global";

/* @import "media"; */

.header-top {
  &__body {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 91px;
    line-height: 24px;
  }

  &__logo {
    display: inline-block;
    margin-right: auto;
  }

  &__text {
    margin-right: 38px;
    color: $c-blue;
  }

  &__text-red {
    color: $c-red;
  }

  &__tel {
    transition: color 0.3s;

    &:hover {
      color: $c-red;
    }
  }

  &__btn {
    min-width: 72px;
    padding: 4px 14px;
    font-size: 12px;
    line-height: 24px;
    border: 0;
    border-radius: 3px;
  }

  &__log {
    background-color: $bg-green;
  }

  &__reg {
    margin-left: 7px;
    background-color: $bg-red;
  }
} /* header-top */

.header-menu {
  color: #fff;
  background-color: $bg-blue;

  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 60px;
  }
}

.menu {
  &__link {
    margin-right: 38px;
    font-size: 14px;
    line-height: 30px;
  }
} /* header-menu menu */

.search {
  min-height: 532px;
  padding-top: 100px;
  padding-bottom: 100px;

  &__inner {
    text-align: center;
  }

  &__title {
    margin-bottom: 31px;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: #fff;
  }

  &__text {
    margin-bottom: 53px;
    font-weight: 500;
    color: #fff;
  }

  &__form {
    position: relative;
    max-width: 670px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0 1px 10px 0 rgba(124, 178, 64, 0.75);
  }

  &__input {
    width: 100%;
    min-height: 56px;
    padding-right: 60px;
    padding-left: 25px;

    &::placeholder {
      color: #90a4ae;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background-color: transparent;
    border: 0 solid #000;
  }
}
