@import "libs";
@import "vars";
@import "fonts";
@import "global";

/* @import "media"; */

.header-top {
  &__body {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 91px;
    line-height: 24px;
  }

  &__logo {
    display: inline-block;
    margin-right: auto;
  }

  &__text {
    margin-right: 38px;
    color: $c-blue;
  }

  &__text-red {
    color: $c-red;
  }

  &__tel {
    transition: color 0.3s;

    &:hover {
      color: $c-red;
    }
  }

  &__btn {
    min-width: 72px;
    padding: 4px 14px;
    font-size: 12px;
    line-height: 24px;
    border: 0;
    border-radius: 3px;
  }

  &__log {
    background-color: $bg-green;
  }

  &__reg {
    margin-left: 7px;
    background-color: $bg-red;
  }
} /* header-top */

.header-menu {
  color: #fff;
  background-color: $bg-blue;

  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 60px;
  }
}

.menu {
  &__link {
    margin-right: 38px;
    font-size: 14px;
    line-height: 30px;
  }
} /* header-menu menu */

.search {
  min-height: 532px;
  padding-top: 100px;
  padding-bottom: 100px;

  &__inner {
    text-align: center;
  }

  &__title {
    margin-bottom: 31px;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: #fff;
  }

  &__text {
    margin-bottom: 53px;
    font-weight: 500;
    color: #fff;
  }

  &__form {
    position: relative;
    max-width: 670px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0 1px 10px 0 rgba(124, 178, 64, 0.75);
  }

  &__input {
    width: 100%;
    min-height: 56px;
    padding-right: 60px;
    padding-left: 25px;

    &::placeholder {
      color: #90a4ae;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background-color: transparent;
    border: 0 solid #000;
  }
} /* search */

.products {
  padding: 110px 30px 130px;

  &__title {
    margin-bottom: 35px;
  }

  &__menu {
    display: flex;
    justify-content: center;
  }

  &__menu-filter {
    display: inline-block;
    padding: 10px 25px;
    margin-bottom: 59px;
    font-size: 14px;
    font-weight: 500;
    color: $c-black;
    background: transparent;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(202, 215, 228, 0.75);

    &--bottom {
      font-size: 16px;
      font-weight: 400;
    }

    &.mixitup-control-active {
      background-color: $bg-red;
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 77px;
  }
} /* products */

.item {
  &__body {
    margin-bottom: 32px;
    color: $c-blue;
  }

  &__img {
    display: block;
    width: 442px;
    height: 250px;
  }

  &__cost-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 30px;
    border-bottom: 1px solid #e7ecf2;
  }

  &__description {
    text-align: left;
  }

  &__title {
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: $c-black;
  }

  &__category {
    font-weight: 500;
    color: $c-green;
  }

  &__cost {
    font-weight: 700;
    color: $c-black;
  }

  &__seller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    padding: 0 30px;
  }

  &__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &__seller-name {
    display: inline-block;
    margin-right: auto;
    margin-left: 12px;
    font-weight: 500;
  }

  &__rating {
    color: #b0bec5;

    span {
      color: $c-black;
    }
  }
} /* item */
