/* почему такой инклуд?
потому что автопрефиксер
галпа петух недоделанный
не префиксит код обычным import */

/* общие блоки */
@@include('./_libs.scss');
@@include('./_vars.scss');
@@include('./_fonts.scss');
@@include('./_global.scss');
@@include('./_item.scss');

/* куски страниц sections */
/* куски страницы home */
@@include('./_header.scss');
@@include('./home/_search.scss');
@@include('./home/_products.scss');
@@include('./home/_trend.scss');
@@include('./home/_advantages.scss');
@@include('./home/_author.scss');
@@include('./home/_tutorials.scss');
@@include('./_footer.scss');

