.tutorials {
  margin: 60px 0 120px;

  &__title {
    margin-bottom: 50px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 100%;
    max-width: 370px;
  }

  &__item + &__item {
    margin-left: 30px;
  }

  &__img {
    height: 100%;
    max-height: 270px;
  }

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    background-color: #f8f8f8;
  }
}
