.contact {
  &__content {
    padding: 32px 39px 0;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__contacts {
    width: 270px;
    padding-left: 40px;
  }

  &__item {
    margin-bottom: 35px;
  }

  &__item-title {
    position: relative;
    padding-bottom: 22px;
    margin-bottom: 26px;
    font-family: $f-base, $f-sub !important;
    font-size: 20px;
    font-weight: 500;
    color: $c-black;

    &::before {
      position: absolute;
      top: -1px;
      left: -40px;
      font-family: 'icomoon' !important;
      font-size: 24px;
      color: $c-green;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 44px;
      height: 4px;
      content: '';
      background-color: $bg-green;
    }
  }

  &__text {
    font-size: 15px;
    font-style: normal;
    line-height: 24px;
    color: #707070;
  }

  &__form {
    width: 100%;
    max-width: 730px;
    padding-bottom: 22px;

    input,
    textarea {
      display: inline-block;
      width: 100%;
      max-width: 350px;
      height: 42px;
      font-size: 15px;
      background-color: #f1f4f5;
      border: 0;

      &::placeholder {
        font-size: 15px;
        color: #7a7a7a;
      }
    }

    textarea {
      max-width: 100%;
      min-height: 195px;
      margin-bottom: 22px;
    }

    button {
      min-width: 190px;
      height: 54px;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      background-color: $bg-green;
      border: 0;
    }
  }

  &__input-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__form-title {
    font-size: 24px;
    font-weight: 500;
    color: #333;
  }
}
