.pp {
  &__body {
    display: flex;
  }

  &__aside {
    margin-right: 30px;
  }

  &__inner {
    width: 100%;
    max-width: 869px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.aside {
  width: 270px;
  color: $c-black;
  text-align: left;
  margin-bottom: 109px;

  &__item {
    width: 100%;
    padding: 7px 30px 0;
    background-color: #fff;
    border: 1px solid #d8d8d8;
  }

  &__item-title {
    padding: 15px 0;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #dde3e8;
  }

  &__menu {
    padding: 12px 0 25px;
  }

  &__menu-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0 10px 18px;
    font-size: 15px;

    span {
      display: inline-block;
      color: #90a4ae;
    }
  }

  &__btn {
    display: block;
    width: 205px;
    min-height: 46px;
    padding: 14px 30px;
    margin-bottom: 30px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background-color: $bg-green;
    border: 0;

    &--search {
      margin-top: 50px;

      span {
        position: relative;
        display: inline-block;

        &::before {
          position: absolute;
          bottom: 0;
          left: -21px;
          font-family: 'icomoon';
          font-size: 15px;
          content: '\f002';
          transform: translateY(-3px);
        }
      }
    }
  }
}

.irs--flat .irs-bar {
  height: 5px;
  background-color: $c-black;
}

.irs--flat .irs-line {
  height: 5px;
  background-color: #f2f5f8;
}

.irs--flat .irs-handle {
  top: 19px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 4px solid $bg-green;
  border-radius: 50%;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  top: 40px;
  font-size: 15px;
  color: #78909c;
  background-color: transparent;
}

.irs--flat .irs-handle>i:first-child,
.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before,
.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}
